<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos de red necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMovilAgenda">

        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".InicioTareasActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CrearTareaActivity" />
        <activity android:name=".EditarTareaActivity" />

        <!-- Nuevas -->
        <activity android:name=".RecordatoriosActivity" />
        <activity android:name=".CalendarioActivity" />
        <activity android:name=".SemanaActivity" />
        <activity android:name=".DiaActivity" />

        <receiver
            android:name=".RecordatorioReceiver"
            android:exported="false" />
    </application>
</manifest>